version: "3.8"

services:
  postgres-db:
    image: postgres:15
    container_name: telemedicine-db
    environment:
      POSTGRES_DB: telemedicine_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 'Vishal@12#34'
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  telemedicine-app:
    build: .
    container_name: telemedicine-app
    depends_on:
      - postgres-db
    ports:
      -
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/telemedicine_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 'Vishal@12#34'
      SPRING_JPA_HIBERNATE_DDL_AUTO: update

volumes:
  postgres-data:
